.readermode {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  width: 18px;
  height: 18px;
  margin: 0;
  text-align: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  & svg {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: currentColor;
    transition: opacity 0.1s ease;
  }
}

:root[reader-mode="on"] {
  & .sidebar.left,
  & .sidebar.right {
    opacity: 0;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
